<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>CommonJS</string>
	<key>uuid</key>
	<string>ACE0DF43-1D6C-427A-B9F0-C486D2685024</string>
</dict>
</plist>
